[Unit]
Description=Raspberry Temp Hum to DDBB service
After=mariadb.service

[Service]
Type=simple
Restart=always
StartLimitIntervalSec=3
User=kodex
WorkingDirectory=/App/raspberry-temp-humi
ExecStart=/usr/bin/python /App/raspberry-temp-humi/app.py

[Install]
WantedBy=multi-user.target
